#displayContent .Wrapper {
  margin-left: auto;
  margin-right: auto;
}

.display-inlineblock {
  display: inline-block;
}
.float-right {
  float: right;
}

.user-detail {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  text-align: right;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.user-detail span {
  padding: 0;
  margin: 0;
}
#Username {
  color: maroon;
}

.book {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  background-color: rgba(16, 16, 16, 0.9);
  padding: 30px;
  border: 2px solid;
  border-radius: 15px;
  display: none;
  color: white;
}

/* .seatsDispaly {
  display: none;
} */

.seat {
  height: 30px;
  width: 60px;
  background-color: #ccc;
  align-content: center;
  border-radius: 5px;
  text-align: center;
  font-size: 10px;
  color: black;
}
.pillow {
  float: right;
  height: 15px;
  width: 5px;
  background-color: white;
  margin-right: 2px;
  border-radius: 0.5px;
  border-color: inherit;
}

tr {
  height: 30px;
}

.upperDekker,
.lowerDekker {
  display: flex;
  padding: 15px;
}
.cabin {
  align-content: center;
  text-align: center;
}
.vertical-text {
  display: inline-block;
  white-space: nowrap;
}

.vertical-text span {
  display: inline-block;
  transform: rotate(-90deg); /* Counter-rotate characters */
  padding-bottom: 35px;
}

.wheel {
  transform: rotate(-90deg);
}

.seat.booked {
  background-color: rgb(
    122,
    122,
    122
  ); /* or any other style to indicate it's booked */
  cursor: not-allowed;
}
.seat.booked.female {
  outline: 2px solid pink; /* or any other style to indicate it's a female booked seat */
}

.selected {
  background-color: green;
  color: white;
}

#btnBookSets {
  display: none;
}

.tickeetlist {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 500px;
  height: 500px;
}
.tickeetlist table {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  font-size: 18px;
  margin-top: 100px;
}

.tickeetlist button {
  float: right;
}
.profile {
  float: right;
  height: 30px;
  width: 30px;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
}

.displayprofile {
  display: none;
  border-radius: 10px;
  position: fixed;
  top: 40px;
  right: 35px;
  width: 250px;
  background-color: rgba(16, 16, 16, 0.9);
}
.profile:hover .displayprofile {
  display: block; /* Show the profile on hover */
}

.displayprofile .content {
  /* background-color: green; */
  width: 200px;
  margin: 30px;
  color: white;
}

.displayprofile .content .btnlogout {
  float: left;
  padding: 0;
  background-color: transparent;
  color: red;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.displayprofile .content div {
  margin-top: 15px;
}
.displayprofile .content div:last-child {
  margin-bottom: 15px;
}

.tktbtn {
  border: none;
}

.book .Wrapper .ticketdetails {
  display: block;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(16, 16, 16, 1);
  color: white;
  border: 2px solid #333;
  border-radius: 15px;
}

.popupContent {
  padding: 50px;
}
.popupContent table {
  text-align: left;
}

.popupContent table td {
  width: 200px;
}
.popupContent h3 {
  text-align: center;
}

.container {
  text-align: center; /* Center the content horizontally */
}

.payment-options {
  margin-bottom: 20px;
}

.payment-option {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.payment-options button.active {
  background-color: #eee;
}

.payment-forms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow forms to wrap if needed */
}

.payment-form {
  display: none;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  width: 300px; /* Adjust width as needed */
}

.payment-form h2 {
  margin-bottom: 10px;
}

#paymnetmode {
  width: 650px;
  height: 500px;
}

#paymnetmode h1 {
  margin-top: 35px;
}

#displayContent {
  height: 580px;
  overflow-y: scroll;
}
#displayContent::-webkit-scrollbar {
  display: none;
}

.TicketWrapper {
  margin: 5px;
}

.TicketHeader {
  height: 50px;
  border: 2px solid;
  text-align: center;
}
.TicketHeader h2 {
  display: block;
  font-size: 18px;
}

.PDFTicket table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-top: 5px;
  font-size: 14px;
}

.PDFTicket table td {
  border: 2px solid;
}

.PDFTicket li {
  font-size: 12px;
  margin-left: 10px;
}

.popup .popupContent #ticketdetails {
  margin: 0;
  padding: 0;
}
